@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
	--main-cream: #f1faee;
	--main-tan: #e2d1c3;
	--light-blue: #a8dadc;
	--med-blue: #457b9d;
	--dark-blue: #1d3557;
	
	--text-primary: #181818;
	--text-light: #fbfbf9;
}

body {
	background-color: var(--main-cream);
	color: var(--text-primary);
	font-family: 'Funnel Sans';
}

/* nav styling */
.navbar {
	background-color: var(--main-cream) !important;
}

.navbar-brand {
	font-family: "Funnel Sans", sans-serif;
	font-weight: 400;
}

.navbar-brand, .navbar-nav .nav-link {
	color: var(--dark-blue) !important;
}

.navbar-nav .nav-link:hover, .navbar-nav .nav-link.active {
	font-weight: bold;
	color: var(--dark-blue) !important;
}

.active {
	font-weight: bold;
	color: var(--dark-blue);
	text-decoration: underline;
}
/* end nav styling */

/* footer styling */
footer {
	position: relative;
	bottom: 0;
	width: 100%;
	text-align: center;
}

footer a {
	font-weight: bold;
}

footer a:hover {
	text-decoration: underline;
}
/* end footer styling */

/* button styling */
.btn-primary {
	background-color: var(--med-blue);
	border-color: var(--dark-blue);
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
	background-color: var(--dark-blue) !important;
	border-color: var(--med-blue) !important;
}
/* end button styling */

/* index.html specific CSS */

.hero-image {
	background-image: url('../img/recipe-bg.png');
	background-size: cover;
	background-position: center;
	height: 100vh;
	width: 100%;
	position: relative;
}

.overlay-text {
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 10px;
  	width: 60%;
	text-align: center;
}

/* end index.html specific CSS */

/* search.html specific CSS */

#search-main {
	background-color: var(--light-blue);
	border: 5px solid var(--dark-blue);
	border-radius: 20px;
	text-align: center;
	width: 80%;
	margin: auto;
	margin-top: 5%;
	margin-bottom: 5%;
	padding: 5%;
	padding-bottom: 2%;
}

#ingredients {
	width: 50%;
	margin: auto;
	text-align: center;
}

#recipe-results {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	width: 90%;
	margin: auto;
	text-align: center;
	margin-bottom: 5%;
}

/* end search.html specific CSS */

/* staples.html specific CSS */

.hero-image-staples {
	background-image: url('../img/staples-bg.jpg');
	background-size: cover;
	background-position: center;
	height: 40vh;
	width: 100%;
	position: relative;
	margin-bottom: 2.5%;
}

.staples-bg {
	background-image: url('../img/staples-bg.jpg');
}

#staples-main {
	width: 70%;
	margin: auto;
	padding: 2%;
	margin-bottom: 2%;
}

#staples-main h1 {
	text-align: center;
}

#staples-accordion {
	margin: auto;
}

#staples-accordion ul {
	list-style-type: disc;
}

.accordion-item {
	background-color: var(--light-blue);
}

.accordion-button {
	background-color: var(--med-blue);
	font-weight: bold;
}

.accordion-button:not(.collapsed) {
	background-color: var(--dark-blue);
	color: var(--text-light) !important;
}

.accordion-body {
	padding-bottom: 0;
}

/* end staples.html specific CSS */

/* tips.html specific CSS */

.hero-image-tips {
	background-image: url('../img/tips-bg.jpg');
	background-size: cover;
	background-position: center;
	height: 40vh;
	width: 100%;
	position: relative;
	margin-bottom: 2.5%;
}

#tips-list {
	padding: 2% 1%;
	max-width: 60%;
	margin: 0 auto;
}

.tip {
	background: var(--light-blue);
	padding: 5%;
	margin-bottom: 5%;
	border-left: 5px solid var(--dark-blue);
	border-radius: 10px;
}

.tip h2 {
	margin-bottom: 1%;
	color: var(--dark-blue);
}

.tip-list {
	list-style-type: circle;
}

/* end tips.html specific CSS */

/* login.html specific CSS */


/* end login.html specific CSS */

/* saved.html specific CSS */


/* end saved.html specific CSS */

/* responsive styling */
@media screen and (max-width: 500px) {
	body {
		width: 100%;
		margin: auto;
	}

	.overlay-text {
		width: 80%;
	}

	#search-main, #staples-main, #tips-list {
		min-width: 90%;
	}

	#ingredients {
		width: 80%;
	}

	.hero-image-staples, .hero-image-tips, .tip {
		margin-bottom: 10%;
	}

}